# IDE
.idea/
*.iml

# Build outputs
target/
out/

# Editors
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

*.mv.db
*.lock.db

# Frontend
tennisapp-frontend/node_modules/
src/main/resources/static/*
!src/main/resources/static/.gitkeep
node/
node_modules/
tennisapp-frontend/dist/